<!DOCTYPE html>
<html>
  <head>
    <title>Odysseus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>

      <title>Working to help save lives through detection.</title>

    </head>

  </head>
  <body>

    </div>
    <div class="container">
      <form action="/reset_count" method="get">
      <button type="submit" value="10">
        Reset Display
      </button>
      </form>
    </div>
      <script type=text/javascript>
              $(function() {
                $('a#test').bind('click', function() {
                  $.getJSON('/rotate_servo',
                      function(data) {
                    //do nothing
                  });
                  return false;
                });
              });
      </script>


      <div>
        <table>=
              <tr><td>{{ items['pose'] }}</td></tr>
              <tr><td>{{ items['prob'] }}</td></tr>
        </table>
      </div>

      //button
      <div class='container'>
          <h3>Test</h3>
              <form>
                  <a href=# id=test><button class='btn btn-default'>Test</button></a>
              </form>

      </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>